<!DOCTYPE html>
<html ng-app="MainApp">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Ejemplo MEAN</title>
	<!-- Cargamos bootstrap -->
	<link rel="stylesheet" href='/components/bootstrap/dist/css/bootstrap.min.css'>
</head>
<body ng-controller="core">
	<div class="container">
		<div class="jumbotron text-center" ng-prueba>
			<h1>Nº de estudiantes: <span class="label label-success"> {{ personas.length }} </span></h1>
		</div>

		<div class="row">
			<div class="col-sm-6 col-sm-offset-1">
				<table class="table table-striped">
					<tr class="info">
						<td>Nombre</td>
						<td>Direccion</td>
						<td>Telefono fijo</td>
                        <td>Telefono movil</td>
					</tr>
					<tr ng-repeat="persona in personas" ng-click="selectPerson(persona)">
						<td> {{persona.nombre}} </td>
						<td> {{persona.direccion}} </td>
						<td> {{persona.telefono.fijo}} </td>
                        <td> {{persona.telefono.movil}} </td>
					</tr>
				</table>
			</div>
			<div class="col-sm-4 col-sm-offset-1 text-center">
				<form name="myForm">
					<div class="form-group">
						<input type="text" class="form-control input-lg text-center" placeholder="Nombre" ng-model="newPersona.nombre" required>
						<br>
						<input type="text" class="form-control input-lg text-center" placeholder="Direccion" ng-model="newPersona.direccion" required>
						<br>
						<input type="number" class="form-control input-lg text-center" placeholder="Fijo" ng-model="newPersona.telefono.fijo" required>
						<br>                        
                        <input type="number" class="form-control input-lg text-center" placeholder="Movil" ng-model="newPersona.telefono.movil" required>
					</div>

					<!-- Acciones que podemos realizar en el formulario -->
					<button type="submit" class="btn btn-success btn-lg" ng-click="registrarPersona()" ng-disabled= "myForm.$invalid" >Registrar</button>
					<button type="submit" class="btn btn-warning btn-lg" ng-click="modificarPersona(newPersona)" ng-disabled="!newPersona.nombre || !newPersona.direccion || !selected">Modificar</button>
					<button type="submit" class="btn btn-danger btn-lg" ng-click="borrarPersona(newPersona)" ng-disabled="!newPersona.nombre || !newPersona.direccion || !selected">Borrar</button>
				</form>
			</div>
		</div>
	</div>
<script src="/components/angular/angular.js"></script>
<script type="text/javascript" src="coreA.js"></script>
<script type="text/javascript" src="coreS.js"></script>
</body>
</html>
